services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: php_app
    ports:
      - "80:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql_db
    command: >
      sh -c "
        wait-for-it mysql_db:3306 -t 60 &&
        echo 'Rodando migrations do Phinx...' &&
        vendor/bin/phinx migrate -e development &&
        apache2-foreground
      "

  mysql_db:
    image: mysql:8.0
    container_name: mysql_db
    command: --default-authentication-plugin=mysql_native_password --skip-ssl --sql_mode=""
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app_db
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
