:root {
    --background: #BCC1BF;
    --tblr-red: #400F19;
    --tblr-red-rgb: 204, 34, 41;
    --tblr-yellow: #400F19;
    --tblr-yellow-rgb: 64, 15, 25;
    --tblr-breadcrumb-divider: "|";
    --tblr-breadcrumb-divider-color: #FFFFFF;
    --tblr-btn-hover-bg: #400F19;
}


.btn:hover {
	color: #400F19;
	background-color: #BCC1BF;
	border-color: #400F19;
}
