:root {
    --background: #BCC1BF;
    --tblr-red: #400F19;
    --tblr-red-rgb: 204, 34, 41;
    --bg-red: #81161A;
    --tblr-yellow: #400F19;
    --tblr-yellow-rgb: 64, 15, 25;
    --tblr-breadcrumb-divider: "|";
    --tblr-breadcrumb-divider-color: #FFFFFF;
    --tblr-btn-hover-bg: #400F19;
    --tblr-yellow-darken: #400F19;
    --tblr-yellow-fg: #fff;
    --tblr-btn-hover-bg: var(--tblr-yellow-darken);
    --tblr-btn-active-color: var(--tblr-yellow-fg);
    --tblr-btn-active-bg: var(--tblr-yellow-darken);
    --tblr-btn-color: #FFFFFF !important;
    --tblr-btn-color: var(--tblr-yellow-fg);
}

@media (max-width: 768px) {
    .navbar-collapse.collapse:not(.show) a {
    pointer-events: none !important;
    }
    .navbar-collapse.collapse:not(.show) a:focus {
    outline: none !important;
    }
}


.btn:hover {
	color: #400F19;
	background-color: #BCC1BF;
	border-color: #400F19;
}

.produto-nome {font-size: 2.5rem; line-height: normal;}

.produto-preco {
	color: #400F19 !important;
    font-size: 32px;
    padding-top: 20px;
}

.step-item::before {
	color: #400F19;
}

.step-item.active::before  {color:#fff}

.step-item.active ~ .step-item {
	color: #400F19;
}

.steps {--tblr-steps-color: var(--tblr-btn-hover-bg) !important}

.bg-red {background: var(--bg-red);}